/*! ########## Initial Body ########## */
.zolaku-app .c-headpanel {
  transition: all 0.2s ease-in-out;
}

.c-headpanel--shadow {
	box-shadow: rgba(0,0,0,.04) 0 2px 6px 0;
}

.zolaku-app .c-nav--owl .c-owl--prev,
.zolaku-app .c-nav--owl .c-owl--next {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #d2d7df;
  text-indent: 9999px;
  overflow: hidden;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
}

.zolaku-app .c-nav--owl .c-owl--prev:before,
.zolaku-app .c-nav--owl .c-owl--next:before {
  position: absolute;
  font-family: 'FontAwesome';
  font-size: 24px;
  color: #989da8;
  top: -2px;
  left: 15px;
  z-index: 50;
  text-indent: 0;
}

.zolaku-app .c-nav--owl .c-owl--prev:hover, .zolaku-app .c-nav--owl .c-owl--prev:focus,
.zolaku-app .c-nav--owl .c-owl--next:hover,
.zolaku-app .c-nav--owl .c-owl--next:focus {
  background-color: #f0f1f4;
}
.zolaku-app .c-nav--owl .c-owl--prev:hover::before, .zolaku-app .c-nav--owl .c-owl--prev:focus::before,
.zolaku-app .c-nav--owl .c-owl--next:hover::before,
.zolaku-app .c-nav--owl .c-owl--next:focus::before {
  color: #585c64;
}
.zolaku-app .c-nav--owl .c-owl--prev:before {
  content: '\f104 ';
}
.zolaku-app .c-nav--owl .c-owl--next:before {
  content: '\f105';
}

/*! ########## Navbar Custom Style ########## */
.c-navbar-default--top .c-nav .c-nav--link {
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	color: #FFFFFF;
}

.c-navbar-faq .c-nav .c-nav--link {
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	color: rgb(12, 12, 12);
}

.c-navbar-faq,
.c-navbar-default--top,
.c-navbar-default--middle,
.c-navbar-default--bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.c-navbar-default--top {
	height: 35px !important;
}
.c-navbar-default--middle {
	height: 60px !important;
}
.c-navbar-default--bottom {
	height: 35px !important;
}

.c-navbar-faq {
	height: 62px !important;
}

.c-navbar-default--middle .c-nav .c-nav--link,
.c-navbar-default--bottom .c-nav .c-nav--link {
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
}

.c-nav--inline .c-nav--link:first-child {
	padding-left: 0!important;
}
.c-nav--inline .c-nav--link:last-child {
	padding-right: 0!important;
}

.c-nav--link.c-separator:after {
	content: ' | ';
	color: #FFFFFF;
	display: inline-block;
	width: 1px;
	height: 12px;
	position: absolute;
	align-items: center;
	margin-left: 5px;
	margin-top: 0px;
}
.c-nav--link.c-separator:last-child:after {
	content: "";
}

.c-nav--pills a.c-nav--link {
	padding-left: 20px;
}

.c-navbar-faq .c-nav--link.c-separator:after {
	content: ' | ';
	color: rgb(32, 32, 32);
	display: inline-block;
	width: 1px;
	height: 12px;
	position: relative;
	align-items: center;
	top: 3px;
	margin-left: 8px;
	margin-top: 0px;
}
.c-navbar-faq .c-nav--link.c-separator:last-child:after {
	content: "";
}

.c-nav--link.c-separator--slash:after {
	content: ' / ';
	color: #DC5054;
	display: inline-block;
	width: 1px;
	height: 12px;
	position: absolute;
	align-items: center;
	margin-left: 5px;
	margin-top: 1px;
}
.c-nav--link.c-separator--slash:last-child:after {
	content: "";
}

h1.c-logo {
	margin-bottom: 0!important;
}

.c-searchbar--v1 {
	width: 80% !important;
	height: 30px;
	margin-left: 15px;
	margin-right: 15px;
}

input.c-place-holder {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #A2A2A2;
	padding-left: 25px;
}


/*! ########## Banner Container ########## */
.l-banner-content {
	margin-top: 125px !important;
	padding-top: 30px !important;
	padding-bottom: 30px !important;
	background-color: #DC5054 !important;
}

.l-main-content {
	padding-top: 35px !important;
	padding-bottom: 85px !important;
	background-color: #FFF6F6 !important;
}

.l-banner-faq {
	padding-top: 62px !important;
	padding-bottom: 50px !important;
	margin-top: 0!important;
}


/*! ########## Banner Custom ########## */
.c-card--banner__v1 {
	width: 65% !important;
}
.c-card--banner__v2 {
	min-width: 100% !important;
	padding-right: 25px;
	padding-left: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}


/*! ########## Board Media ########## */
.c-board--text {
	margin-left: 30px;
}

.c-board--text h6,
.c-board--text p,
.c-board--text a {
	color: #24607E;
	margin-bottom: 15px;
}

.c-board--text h6 {
	font-size: 18px;
	font-weight: 600;
}

.c-board--text p {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.4;
}

.c-board--text a {
	font-size: 12px;
	font-weight: 600;
}



/*! ########## Badge Background Gradient ########## */
.u-bg--badge__silver {
	background: #e8e8e8;
	background: linear-gradient(230deg,#e8e8e8 0%, #ffffff 50%, #e1e1e1 100%);
	background: -webkit-linear-gradient(230deg,#e8e8e8 0%, #ffffff 50%, #e1e1e1 100%);
	background: -moz-linear-gradient(230deg,#e8e8e8 0%, #ffffff 50%, #e1e1e1 100%);
	border-color: #E5E5E5 !important;
	color: #858585;
}
.u-bd--badge__silver {
	border-color: #E5E5E5 !important;
}

.u-bg--badge__gold {
	background: #ce9627;
	background: linear-gradient(230deg,#ce9627 0%, #ffd174 50%, #ce9627 100%);
	background: -webkit-linear-gradient(230deg,#ce9627 0%, #ffd174 50%, #ce9627 100%);
	background: -moz-linear-gradient(230deg,#ce9627 0%, #ffd174 50%, #ce9627 100%);
	border-color: #F3B82E !important;
	color: #FFFFFF;
}
.u-bd--badge__gold {
	border-color: #F3B82E !important;
}

.u-bg--badge__blue {
	background: #174564;
	background: linear-gradient(230deg,#174564 0%, #4493e2 50%, #278bce 100%);
	background: -webkit-linear-gradient(230deg,#174564 0%, #4493e2 50%, #278bce 100%);
	background: -moz-linear-gradient(230deg,#174564 0%, #4493e2 50%, #278bce 100%);
	border-color: #80B1DC !important;
	color: #FFFFFF;
}
.u-bd--badge__blue {
	border-color: #80B1DC !important;
}


/*! ########## Card Category ########## */
.c-content--category__home {
	border-radius: 10px;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 20px 0px rgba(164,164,164,0.16);
	-webkit-box-shadow: 0px 2px 20px 0px rgba(164,164,164,0.16);
	-moz-box-shadow: 0px 2px 20px 0px rgba(164,164,164,0.16);
}

.c-category--item {
	display: flex;
	justify-content: start;
	align-items: center;
}
.c-category--item:last-child {
	margin-right: 0;
}

p.c-content--cat__title {
	font-size: 15px;
	font-weight: 600;
	font-style: normal;
	margin-left: 15px;
}

/*! ########## Card Category : Bounty ########## */
.c-bounty--width {
	width: 100%;
	transform: translate(0px, 0px);
	transition: all 500ms ease 0s;
}

.c-bounty--item {
	display: flex;
	position: relative;
	padding: 0;
	margin: 0;
}

.c-bounty--item__box {
	width: 148,38px;
	height: 111,84px;
	position: relative;
	padding: 25px 20px;
}

.c-card--bounty {
	width: 13.2857%;
	margin: 1%;
	padding: 0;
	align-self: center;
	overflow-x: hidden;
	float: left;
}

p.c-bounty--title {
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	color: #FFFFFF;
	text-align: center;
	overflow: hidden;
	height: 38px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	display: -webkit-box;
}


/*! ########## Content Title ########## */
h3.c-content--title {
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	color: #000000;
	margin-bottom: 0!important;
}
p.c-content--subtitle {
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	color: #000000;
	margin-left: 25px;
}


/*! ########## Footer Section ########## */
ul.c-footer--list__2-col {
	column-count: 2;
	-webkit-column-count: 2;
  	-moz-column-count: 2;
}

li a.c-footer--list {
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	color: #717171;
}


/*! ########## Flash Sale Section ########## */
.c-flash-sale--timer {
	height: 52px;
	border-radius: 10px 0 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 20px;
}

#flash_sale .row .col-4 {
	flex: 0 0 33.3333333333%;
  	max-width: 26% !important;
}

.c-timer--title {
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	color: #FFFFFF;
	margin-right: 20px;
}

.c-timer--count-title,
.c-timer--count-value {
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	color: #FFFFFF;
}

.c-timer--count-title {
	margin-right: 10px;
}

.c-flash-sale {
	position: relative;
}

.c-product--body {
	position: relative;
	display: inline-block;
	height: auto;
	margin-right: 1.2%;
	background: #FFFFFF;
	border-radius: 5px;
}

a.c-product--body__link {
	position: relative;
	display: block;
	padding: 8px;
	box-sizing: border-box;
	border-radius: 5px;
	align-items: center;
	-ms-flex-align: center;
	transition: all ease 150ms;
}

.c-product--display__top {
	position: relative;
}

.c-product--badge {
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 2;
}

.c-ribbon {
	width:34px;
	height:30px;
	background-color:#A41D21;
	position:absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: 600;
}
.c-ribbon:before {
	content: '';
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: -20px;
	border-left: 17px solid #A41D21;
	border-right: 17px solid #A41D21;
	border-bottom: 20px solid transparent;
}

.c-product--image {
	position: relative;
	width: 100%;
	height: 0;
	border-radius: 5px;
	padding-bottom: 100%;
	background: #FFFFFF;
}

.c-product--image .c-image {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.c-product--image .c-image.c-entered {
	opacity: 1;
	transition: all 0.5s;
}

.c-product--title {
	font-size: 15px;
	font-weight: 500;
	font-style: normal;
	color: #363636;
	height: 41px;
	letter-spacing: normal;
	text-align: left;
	overflow: hidden;
	margin-top: 20px;
}

.c-product--price__discount {
	font-size: 0.9286rem;
	font-weight: 500;
	line-height: 1.33;
	letter-spacing: normal;
	text-align: left;
	text-decoration: line-through;
	color: #AEAEAE;
}

.c-product--price__normal {
	font-size: 1.286rem;
	font-weight: 600;
	text-align: left;
	padding-bottom: 10px;
	color: #EC6E6E;
	margin-top: 3px;
}

.c-flash--sale__load {
	width: 60%;
}

.c-flash-sale-progress-bar {
	padding: 0;
	margin-bottom: 5px;
}

.c-flash-sale-progress-bar--complete {
	height: 16px;
	position: relative;
	border-radius: 20px;
	background: #FFDCDE;
}

.c-flash-sale-progress-bar--complement {
	width: 100%;
	background: transparent;
	overflow: hidden;
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: 1;
	height: 16px;
	border-radius: 20px;
}

.c-flash-sale-progress-bar--complement-bar {
	background: #DC5054;
	float: left;
	position: relative;
	height: 16px;
	border-radius: 20px;
}

.c-flash-sale-progress-bar--complement-color {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #DC5054;
}

.c-sale--info {
	font-size: 12px;
	font-weight: 500;
	color: #363636;
	text-align: left;
}

.c-product--poin {
	border-radius: 20px;
	height: 25px;
	width: 40%;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	margin-left: 15px;
}

.c-product--share {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #DC5054;
	color: #FFFFFF;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.c-product--ratting {
	display: flex;
	align-items: center;
	color: #F3B82E;
}
.c-product--ratting i:nth-child(1n+1) {
	margin-right: 5px;
}
.c-product--ratting i:last-child {
	margin-right: 0;
}


/*! ########## FAQ Searchbar Section ########## */
.c-faq-searchbar__section {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: start;
	justify-content: center;
	width: 700px;
	height: 30px;
	position: relative;
}

.c-faq-searchbar__section .c-faq-searchbar {
	width: 100%;
	box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.09);
}

.c-faq-searchbar--focus {
	box-shadow: 0 0 12px 0 rgba(0,0,0,.09);
}

.c-faq-searchbar {
	display: flex;
	-webkit-box-align: stretch;
	align-items: stretch;
	-webkit-box-pack: justify;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 5px;
	border-radius: 3px;
	background: #FFFFFF;
}

.c-faq-searchbar__main {
	display: flex;
	-webkit-box-flex: 1;
	flex: 1;
}

.c-faq-searchbar-input {
	display: flex;
	-webkit-box-flex: 1;
	flex: 1;
	box-sizing: border-box;
	padding-left: .625rem;
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

input {
	line-height: normal;
}

.c-faq-searchbar-input__txt {
	display: flex;
	-webkit-box-flex: 1;
	flex: 1;
	-webkit-box-align: center;
	align-items: center;
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
}

button {
	-webkit-appearance: button;
	font: inherit;
	margin: 0;
}

.c-faq-searchbar .c-faq-searchbar__main .c-btn {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	flex-direction: column;
	font-size: 14px;
	box-sizing: border-box;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
	border-radius: 2px;
	border: 0;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	outline: 0;
	cursor: pointer;
}

.c-faq-searchbar .c-faq-searchbar__main .c-btn-solid--red {
	background: #CC2A2A;
	color: #FFFFFF;
}

.c-btn--inline {
	display: inline-flex;
}

.c-btn--faq__search {
	height: 34px;
	padding: 0 15px;
	min-width: 60px;
	max-width: 190px;
}


/*! ########## FAQ Section ########## */
.c-faq--overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
	background-color: rgba(59, 59, 59, 0.3) !important;
	display: flex;
	align-items: center;
}

.c-faq-content--topic {
	border-bottom: 1px solid rgba(190, 190, 190, .6);
}

.c-faq-content--topic__select {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 50px;
}

.c-faq-content--topic-item {
	width: 10.285%;
	height: auto;
}

.c-faq--topic-item__card {
	text-align: center;
}

.c-faq--topic-item__card img {
	margin: 18px auto 10px;
	border-radius: 10px;
	padding: 15px 15px 0 15px ;
}
.c-faq--topic-item__card p {
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	color: #4D4D4D;
	height: 34px;
	word-break: normal;
}

/*.c-faq-content__read-more {
	border-bottom: 1px solid rgba(190, 190, 190, .6);
}*/

.c-faq-content__read-more__layout {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}

.c-faq-list {
	border-left: 1px solid rgba(190, 190, 190, .6);
	padding-left: 35px; 
}

.c-card.c-faq-list--item {
	border-top: 1px solid rgba(190, 190, 190, .6);
	border-bottom: 1px solid rgba(190, 190, 190, .6);
}

a.c-faq-list--title {
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	color: #363636;
}
a.c-faq-list--title:hover {
	color: #717171;
}

p.c-faq-list--answer {
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.8;
	color: #4D4D4D;
}

.c-faq-list--rating {
	margin-top: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.c-faq-list--rating p {
	font-size: 12px;
	font-weight: 500;
	color: #717171;
}